.developers {
    position: relative;
    top: 0;
    min-height: 100vh;
    height: auto;
    padding: 2rem;
}

.main {
    background: url('https://i.postimg.cc/SsrLfD7n/bgImage2.jpg') repeat top center;
    background-size: 100% auto;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
}

@media (max-width: 768px) {
    .main {
        background-size: cover;
        background-position: center;
    }
}
